@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

@media print {    
  .no-print, .no-print * {
      display: none !important;
  }
}


.highed-box-size {
  box-sizing:border-box !important;
  -moz-box-sizing:border-box !important;
  -webkit-box-sizing:border-box !important;
}

.highed-transition {
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.highed-transition-opacity {
  transition:0.2s ease opacity; 
  -moz-transition:0.2s ease opacity; 
  -webkit-transition:0.2s ease opacity;
}

.highed-nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default !important;
}

.highed-header {
	background: @background-toolbar !important;
	color: @color-toolbar !important;
}

.highed-logo {
	background-repeat: no-repeat;
	background-size: 90% auto;
	height: 40px;
	width: 180px;
	background-position: left -5px;
	.highed-box-size;
}

.highed-inline-blocks {
	display:inline-block;
	float:left;
}

.highed-credits {
	font-size:10px;
	padding:4px;
	font-weight: 100;
	font-family: @font-main;
}

.highcharts-container {
    box-shadow: 0 5px 10px @border-main-color;
}

.highed-done-button {

    padding: 5px 7px;
    border:none;
    background: lighten(@background-toolbar, 24);
    color:@color-ok;
    font-size: 12px;
    font-weight: bold;
    //border-radius:50%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    margin-right:5px;
    height:100%;
    cursor: pointer;
    outline:none;
    .highed-transition;
    .highed-box-size;
}

.highed-done-button:hover {
    background: lighten(@background-toolbar, 18);
}

.highed-stretch {
  width: 100%;
}

.highed-ok-button {
  border: none;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background: @background-ok;
  color: @color-ok;
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  .highed-transition;
  .highed-nosel;
}

.highed-done-pane {
  padding: 0 20px;
  position: relative;
}

.highed-step-body.highed-done-pane .highed-ok-button {
    font-size: 15px;
    padding: 10px;
}

.highed-step-body.highed-done-pane .highed-ok-button:before {
    content: "\f00c";
    font-family: fontAwesome;
    font-size: 17px;
    margin-right: 5px;
}

.highed-ok-button:hover {
  background: darken(@background-ok, 6);
}

.highed-background-normal {
    background: @background-main;
    color: @text-main;
}

.highed-titlebar {
  text-align: center;
  font-weight: 200;
  color: @text-main;
}

@import "editor.style.less";
@import "icon.less";
@import "dimmer.less";
@import "overlay.modal.less";
@import "hsplitter.less";
@import "vsplitter.less";
@import "tabcontrol.less";
@import "list.less";
@import "highed.chart.template.selector.less";
@import "customizer.table.less";
@import "wizstepper.less";
@import "toolbar.less";
@import "colorpicker.less";
@import "widget-fields.less";
@import "pushbutton.less";
@import "fontpicker.less";
@import "tooltip.less";
@import "snackbar.less";
@import "dimporter.less";
@import "tree.less";
@import "chartpreview.less";
@import "ctx.less";
@import "dropdown.less";
@import "plugins.less";
@import "slider.less";
@import "dtable.less";
@import "cloud.less";
