
.highed-box-size {
  box-sizing:border-box !important;
  -moz-box-sizing:border-box !important;
  -webkit-box-sizing:border-box !important;
}

.highed-transition {
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.highed-transition-opacity {
  transition:0.2s ease opacity; 
  -moz-transition:0.2s ease opacity; 
  -webkit-transition:0.2s ease opacity;
}

.highed-nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default !important;
}

.highed-header {
	background: @background-header !important;
	color: @color-header !important;
}

.highed-logo {
	background-image:url(../img/logo.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height:50px;
	width:200px;
	background-position: center center;
	.highed-box-size;
}

.highed-inline-blocks {
	display:inline-block;
	float:left;
}

@import "editor.style.less";
@import "icon.less";
@import "dimmer.less";
@import "overlay.modal.less";
@import "hsplitter.less";
@import "tabcontrol.less";
@import "inspector.less";
@import "list.less";
@import "highed.chart.template.selector.less";
@import "customizer.table.less";
@import "wizstepper.less";
@import "toolbar.less";
@import "drawer.less";
@import "colorpicker.less";
@import "widget-fields.less";
@import "pushbutton.less";
@import "fontpicker.less";