.highed-chart-container {
  position: absolute;
  right: 35px;
  bottom: 15px;
  margin-right: 14px;
  overflow: auto;
  border-radius: 4px;
}

.highed-chart-frame {
  width: 100%;
  height: 100%;
}

.highed-chart-frame-body {
  background: #FFF;
  border: 1px solid @border-main-color;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.highcharts-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 4px;
  .highed-box-size;
  // box-shadow: 0 5px 10px @border-main-color;
}

.highed-show-chart-xs {
  display: none;
}

@media (min-width: 768px) and (max-width: 1150px) {
  .highed-chart-container { 
    margin-right: 0px
  }
}

@media (max-width: 768px) {
  .highed-chart-container {
    width: 100% !important;
    height: 300px !important;
    right: initial;
    bottom: initial;
  }

  .highed-chart-container.active {
    z-index: 30000;
    .highed-chart-frame {
      display: block;
    }
  }
  .highed-show-chart-xs {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 15px;
    z-index: 40000;
    border: 1px solid rgba(128, 128, 128, 0.35);
    color: #233473;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    display: block;
  }
}

.highcharts-menu-wrapper {
  float: left;
  width: 40px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 13px;
  padding: 10px;
  margin-top: 24px;
}

.highcharts-toggle-toolbar {
  width: initial;
  height: initial;
  left: 10px;
  top: 4px;
  font-size: 12px;
  padding: 4px;
  min-width: 32px;
  height: 32px;
  background-color: transparent;
  text-align: center;

  .fa-marker {
    font-size: 15px;
    padding-top:4px;
    display: block;
    position: absolute;
    top: 15px;
    left: 13px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .fa-chevron-down {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    left: 14px;
    transition: 300ms all;
  }
  .fa-chevron-up {
    position: absolute;
    left: 15px;
    top: 2px;
  }

  .tooltip {
    position: absolute;
    left: 48px;
    max-width: 89px;
    width: 72px;
    top: 5px;
    cursor: initial;
    background-color: #364f94;
    color: white;
    padding: 5px 3px;
    border-radius: 5px;
    font-size: 10px;
    opacity: 0;
    display: none;
  }


  .tooltip:after {
    right: 100%;
    top: 48%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(54, 79, 148, 0);
    border-right-color: #364f94;
    border-width: 5px;
    margin-top: -4px;
  }

}

.highcharts-toggle-toolbar.inactive {
  .fa-marker {
    top: 5px;
  }

  .fa-chevron-up {
    transition: 1000ms all;
    opacity: 0;
  }
}

.highcharts-toggle-toolbar.active:hover {
  background-color: #F5F5F5;
  .fa-chevron-down {
    opacity: 0;
  }
}

.highcharts-toggle-toolbar.inactive:hover {
  .fa-chevron-down {
    opacity: 1;
  }
  .tooltip {
    opacity: 1;
    display: initial;
  }
}

.highcharts-bindings-wrapper li:hover, .highcharts-submenu-item-arrow:hover {
  background-color: transparent;
}