.highed-chart-frame {
  position: absolute;
  right: 15px;
  bottom: 42px;
  height: 100%;
}

.highed-chart-frame-body {
  background: #FFF;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
