.highed-customize-group {
    border: 1px solid @border-main-color;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 3px 7px @bright-shadow;
}

.highed-customize-master-dropdown {
	margin-top:10px;
	margin-bottom:10px;	
	display: none;
}

.highed-customizer-table-heading {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background: @background-header;
	color: @color-header;
	font-weight: 600;
	font-family: @font-main;
	font-size: 20px;
	margin-bottom: 5px;
}

.highed-customize-group .highed-customizer-table-heading {
    margin-bottom: 0;
    padding: 15px;
    border-bottom: 1px solid @border-main-color;
}

.highed-customizer-body {
	background: @bright-background;
    color: @bright-text;
    padding: 10px;
    height: auto;
    border: @border-main;
}

.highed-customizer-table {
	padding:0px;
	border-collapse: collapse;
	width:100%;
    margin-bottom: 20px;
    margin-top: 20px;
    background: @bright-background;
	.highed-box-size;
	border: 1px solid @border-main-color;
}

.highed-customize-group .highed-customizer-table {
    margin-bottom: 0;
    margin-top: 0;
    border: none;
}

.highed-customizer-table td {
	padding: 10px;
	border-bottom: 1px solid @border-main-color;
}

.highed-customizer-table tr:last-child td {
	border: none;
}


.highed-customizer-table tr {
	//border-bottom: @border-main;
	height:30px;
	padding-top:4px;
	padding-bottom:4px;
}

.highed-customizer-table tr:hover {
	background: darken(@background-panel, 2);
}

.highed-customizer-table td:first-child {
	font-family: @font-secondary;
	min-width: 30%;
	width:30%;	
	font-weight: 100;
	font-size: 14px;
}

.highed-customizer-table td:nth-child(2) {
	//width: 200px;
}

.highed-customizer-table td:last-child {
	width:20px;
}

.highed-customizer-table tr:nth-child(even) {
	background: lighten(@background-panel, 4);
}

.highed-customizer-table tr:nth-child(odd) {
	background: lighten(@background-panel, 2);
}

.highed-customizer-field-highlighter {
	position:fixed;
	pointer-events: none;

	background: @accent-color;
	border-radius: 50%;
	width:40px;
	height:40px;
	opacity:1;

	.highed-transition;
}