.highed-imp-pastearea {
	width:100%;
	height:200px;
	border:@border-main;
	outline:none;
	font-family: monospace;
	.highed-box-size;
}

.highed-imp-headline {
	text-align: center;
	padding-top:5px;
	padding-bottom: 5px;
	background:@accent-color;
	color:@accent-text;
	font-weight: 100;
	font-family: @font-secondary;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.highed-imp-help {
	font-size:12px;
	font-family: @font-secondary;
	text-align: center;
}