
.highed-dtable-gsheet-frame {
  display: none;
  background: @secondary-background-panel;
  color: @secondary-color-panel;
  width: 100%;
  height: 100%;
  overflow:auto;
}

.highed-dtable-gsheet {
  // position: absolute;
  width: 100%;
  // height: 700px;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  padding: 50px;
  // background: @secondary-background-panel;
  color: @color-header;
  border-radius: 30px;
  overflow-y: auto;
  // border: 8px dashed @border-main-color;
}

.highed-dtable-gsheet-heading {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
}

.highed-dtable-gsheet-desc {
  text-align: left;
  font-size: 22px;
}

.highed-dtable-gsheet-label {
  font-size: 22px;
  margin-bottom: 5px;
}

.highed-dtable-gsheet-inner {
  width: 80%;
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
}

.highed-dtable-gsheet-id {
  font-size: 15px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.highed-dtable-gsheet-centered {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.highed-dtable-gsheet-button {
  margin-right: 10px;
  width: 100%;
}

.highed-dtable-gsheet-half {
  width: 50%;
}

.highed-dtable-container {
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
    // border:@border-main;
    border-collapse: collapse;
    background:@secondary-background-panel;
    color: @secondary-color-panel;
    .highed-box-size;
}

.highed-dtable-drop-zone {
  pointer-events: none;
  position: absolute;
  width: 80%;
  height: 150px;
  border-radius: 30px;
  border: 8px dashed @border-main-color;
  // background: @bright-background-panel;
  color: @color-header;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
  font-size: 30px;
}

.highed-dtable-drop-zone-small {
  font-size: 20px;
}

.highed-dtable-table-frame {
    width:100%;
    height:100%;
    margin-left:40px;
    margin-top:40px;
    overflow: auto;
    .highed-box-size;   
}

.highed-dtable-table {
    table-layout: fixed;
}

.highed-dtable-head {

}

.highed-dtable-body {

}

.highed-dtable-row-select-box {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
}

.highed-dtable-body tr {
    height:40px;
    max-height:40px;
}

.highed-dtable-body col {
    min-width: 20px;
}

.highed-dtable-toolbar {
    background:@background-panel !important;
    color:@text-panel !important;
    height:60px
}

.highed-dtable-imp-button {
    margin-right:10px;
}

.highed-dtable-toolbar-label {
    float:left;
    padding-left:40px;
    line-height: 60px;
    font-family: @font-secondary;
    font-size:14px;
    font-weight: 100;
    height:100%;
    .highed-box-size;
}

.highed-dtable-body td {
    position: relative;
    padding-left:10px;
    padding-right:10px;
    min-width:20px;
    height:40px;
    max-height: 40px;
    border-right:@border-main;
    border-bottom:@border-main;
    overflow: hidden;
}

.highed-dtable-body-selected-row {
    background:@selected-item-color !important;
    color:@selected-item-text !important;
}

.highed-dtable-col-val {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    height:40px;
    max-height:40px;
    .highed-box-size;
}

.highed-dtable-input {
    position: absolute;
    left:0px;
    top:0px;
    background:lighten(@selected-item-color, 5) !important;
    color: @selected-item-text;
    font-family: @font-secondary;
    font-weight: 100;
    width:100%;
    height:100%;
    font-size:24px;
    outline: none;
    border:none;
    resize: none;
    .highed-box-size;    
}

.highed-dtable-input-header {
    text-align: center;
    background:@background-panel !important;
    color:@text-panel !important;
}

.highed-dtable-table td {
    overflow: hidden;
}

.highed-dtable-body td input {
    background:none;
    font-family: @font-secondary;
    font-weight: 100;
    width:100%;
    height:100%;
    font-size:24px;
    outline: none;
    border:none;
    .highed-box-size;   
}

.highed-dtable-load-indicator {
  z-index: 100;
  position: absolute;
  width: 200px;
  height: 30px;
  border-radius: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: @background-panel;
  color: @text-panel;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  opacity: 0;
  pointer-events:none;
}

.highed-dtable-table-tail {
  text-align: center;
  font-size: 18px;
  display: none;
  padding: 20px;
}
 
.highed-dtable-body td input:active {

}

.highed-dtable-resize-handle {
    position: absolute;
    right:0px;
    top:0px;
    width:5px;
    height:40px;
    //background:#AA0000;
    cursor: ew-resize;
    z-index: 100;
}

.highed-dtable-resize-handle-moving {
    background:@highlight-background;
}

.highed-dtable-top-bar {
    padding-left:40px;
    position: absolute;
    height:40px;
    width:10000px;
    left:0px;
    top:0px;
    background:@background-panel;
    // border-bottom: @border-main;

    //color:@color-toolbar;
}

.highed-dtable-top-bar-col {
    position: relative;
    border-right: @border-main;
    display:inline-block;
    width:80px;
    min-width: 20px;
    height:100%;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    //padding:5px;
    text-align: center;
    .highed-box-size;
}

.highed-dtable-top-bar-col-options {
    // opacity: 0;
    padding:5px;
    position: absolute;
    left:2px;
    top:50%;
    transform:translate(0, -50%);
    color:@secondary-color-panel;
    .highed-transition;
}

.highed-dtable-top-bar-col-options:hover {
    //background: @accent-color !important;
    color: @selected-item-color !important;
}

.highed-dtable-top-left-panel {
    position: absolute;
    left:0px;
    top:0px;
    padding:10px;
    width:20px;
    height:20px;
    background:@background-panel;
}

.highed-dtable-left-bar {
    width:40px;   
    top:0px;
    bottom:0px;
    padding-top:40px;
    position: absolute;
    background:@background-panel;
    //color:@color-toolbar;
}

.highed-dtable-left-bar-row {
    height:41px;
    // border-bottom: @border-main;
    width:100%;
    padding:10px;
    .highed-box-size;
}
