
.highed-container {
	font-family: @font-main;
	color: @text-main;
	background: @background-main;
	border: @border-main;
	height:100%;
	width: 100%;
	.highed-box-size;
}

.highed-container .titlebar {
	height: 30px;
	width: 100%;
	font-weight: 100;
	position: relative;
	padding:5px;
	border-bottom: @border-main;
	.highed-box-size;
	.highed-nosel;
}

.highed-container .titlebar .settings {
	position: absolute;
	right:10px;
	top:5px;
	width:20px;
	height:20px;
	text-align: center;
}