.highed-font-picker {
	
}

.highed-font-picker .font-color {
	padding:4px;
	border: @border-main;
	font-size: 12px;
	min-width: 20px;
	display: inline-block;
}

.highed-font-picker .font-family {
	max-width:100px;
	margin-right: 4px;
}

.highed-font-picker .font-size {
	margin-right: 4px;
}