.highed-hsplitter {
	height:100%;
	width:100%;
	.highed-box-size;
}

.highed-hsplitter .panel {
	float: left;
	
	overflow-y: auto;
	height:100%;
	background:@background-panel;
	.highed-box-size;
}

.highed-hsplitter .left {
	width:30%;
}

.highed-hsplitter .right {	
	width:70%;
	
}
.highed-hsplitter-body {
	/*background:@background-panel;*/
	color: @text-panel;
	width:100%;
	height:100%;
	.highed-box-size;
}

.highed-step-body .highed-hsplitter .panel.right .highed-hsplitter-body {
    /*background: @bright-background;*/
    color: @bright-text;
    padding: 10px;
    height: auto;
    /*border: @border-main;*/
}