.highed-list {
	background: @background-panel;
	color: @text-panel;
	padding:5px;
	.highed-box-size;
	.highed-nosel;	
}

.highed-list .item {
	text-align: left !important;
    color: #34343e !important;
    font-size: 13px !important;

    display: block;

    background-color: white !important;
    border-color: white !important;
    background-image: none !important;
    border-bottom: 1px solid @background-main !important;
    padding-top: 7px;
    padding-bottom: 7px;

    .highed-box-size;
    .highed-transition;
}

.highed-list .item:hover {
	color: #31436b !important;
	font-weight: bold;
}

.highed-list .item:last-child {
	border: none !important;
}

.highed-list .item-selected {
	color: #31436b !important;
    font-weight: bold;
}