.highed-pushbutton {
	background: @background-main;
	color:@text-main;
	border:@border-main;

	padding:5px;
	min-width:32px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	margin-right:4px;
	min-height: 32px;
	.highed-box-size;
}

.highed-pushbutton-active {
	background: @accent-color;
	color: @accent-text;
}