.highed-searchadvancedoptions-header {    
  padding-left: 10px;
  padding-top: 10px;
  margin: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.309804);
  background-color: @template-background;
}
.highed-searchadvancedoptions-inputs-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.highed-searchadvancedoptions {
  background-color: @background-main;
}
.highed-searchadvancedoptions-result-container {
  padding-left: 10px;
  padding-top: 5px;
  min-height: 30px;
  border-top: 1px solid rgba(128, 128, 128, 0.23137254901960785);
}
.highed-searchadvancedoptions-result-parents {
  font-size: 9px;
  padding-top: 2px;
  padding-bottom: 5px;
}