
@font-main: 'Roboto', sans-serif;
@font-secondary: 'Source Sans', sans-serif;

@text-main: #242424;
@background-main: #e5e5e5;
@border-main-color: #d5d5d5;
@border-main: 1px solid @border-main-color;

@text-panel: #424264;
@background-panel: #F5F5F5;

@accent-color: #dd470c;
@accent-text: #FFF;

@bright-background: #FFF;
@bright-text: #31436b;

@wiz-bar-background: #424264;
@wiz-bar-color: #FFF;

@background-header: #333;
@color-header: #fafafa;

@button-background: rgba(255, 255, 255, 0.2);

@table-heading-background: #ececec;
@table-heading-text: #424264;

@import "base.less";