
@font-main: 'Roboto', sans-serif;

@text-main: #242424;
@background-main: #eeeaea;
@border-main: 1px solid #d5d5d5;

@text-panel: #242424;
@background-panel: #FFF;

@accent-color: #F06292;

@import "base.less";