.highed-toolbox {
  height: 100%;
  position:relative;
  margin-top: 15px;    
  margin-left: 30px;
}

.highed-toolbox-bar {
  height: 100%;
  float: left;
  background: @accent-color;
  color: @accent-text;
  // border-right:1px solid @panel-divider;
}

.highed-toolbox-body {
  height: 100%;
  width: 0px;
  float:left;
  opacity: 0;
  border: 1px solid rgba(14, 14, 14, 0.15);
  color: @text-panel;
  background: @background-panel-inverted;    
  margin-right: 15px;
}

.highed-toolbox-inner-body {
}

.highed-toolbox-bar-icon {
  width: 100%;
  padding: 4px;
  text-align:center;
  line-height: 40px !important;
  font-size: 24px !important;
  margin-bottom: 5px;
  height: 50px;
}

.highed-toolbox-live {
  border: 2px solid;
  padding: 3px 10px;
  float: left;
  display: none;
  margin-top: -5px;
  font-size: 15px;
}

.highed-toolbox-bar-icon:hover {
  color: @bright-background;
}

.highed-toolbox-bar-icon-sel {
  color: @selected-item-text !important;
  background: @selected-item-color !important;
}

.highed-toolbox-user-contents {
  width: 100%;
  height: 100%;
  top: 15px;
}

.highed-toolbox-body-title {
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    padding-top: 13px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.10980392156862745);
}

.highed-toolbox-help {
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 25px !important;
  padding-top: 10px;
  display: none;
}

