.highed-tooltip {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	width: 200px;
//	height: 200px;
	padding:4px;
	background:@background-main;
	color: @text-main;
	border: @border-main;
	font-family:@font-secondary;
	font-weight: 100;
	.highed-transition-opacity;
}