.highed-tooltip {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	width: 200px;
//	height: 200px;
	padding: 5px;
	font-size: 12px;
	background:@background-panel;
	color: @text-panel;
	border: @border-main;
	font-family:@font-secondary;
	font-weight: 100;
	.highed-transition-opacity;
	z-index: 10011;
}