.highed-toolbar {
	position: relative;
	height: 40px;
	width: 100%;
	background-color: @accent-color;
	line-height: 100%;
	font-family: @font-secondary;
	.highed-box-size;
}

.highed-toolbar-center {
	position: absolute;
	transform: translate(-50%, 0);
	left: 50%;
	.highed-box-size;
}

.highed-toolbar-left {
	//float: left;
	position: absolute;
	left:0px;
}

.highed-toolbar-right {
	//float: right;
	position: absolute;
	right:0px;
}

.highed-toolbar .icon {
	line-height:40px;
}

.highed-toolbar-button {
    margin-right:10px;
    display: inline-block;
    cursor:pointer !important;
}