
<div class="highed-index-box"> 
    <h1 class="highed-index-headline">Editor Playground</h1>
    
    <a class="highed-index-group" href="full">
        Full Editor
    </a>

    <a class="highed-index-group" href="modal">
        Modal Editor
    </a>

    <a class="highed-index-group" href="simple">
        Simple Modal Editor
    </a>

    <a class="highed-index-group" href="tinymce">
        TinyMCE
    </a>

    <a class="highed-index-group" href="ckeditor">
        CKEditor
    </a>
    
    <div class="highed-index-footer">
    {{package.name}} - Version {{package.version}}<br/></br>
    Licensed under the MIT license. <br/><br/>
    <a href="http://highcharts.com">www.highcharts.com</a><br/>
    </div>
</div>
