<div class="highed-index-box"> 
    <h1 class="highed-index-headline">Highcharts Editor Demos</h1>
    
    <a class="highed-index-group" href="full{{#if static}}.html{{/if}}">
        Full Editor
    </a>

    <a class="highed-index-group" href="modal{{#if static}}.html{{/if}}">
        Modal Editor
    </a>

    <a class="highed-index-group" href="simple{{#if static}}modal.html{{/if}}">
        Simple Modal Editor
    </a>

    <a class="highed-index-group" href="tinymce{{#if static}}.html{{/if}}">
        TinyMCE Integration
    </a>

    <a class="highed-index-group" href="ckeditor{{#if static}}.html{{/if}}">
        CKEditor Integration
    </a>
    
    <div class="highed-index-footer">
    {{package.name}} - Version {{package.version}} beta<br/></br>
    Licensed under the MIT license. <br/><br/>
    <a href="https://github.com/highcharts/highcharts-editor">View on GitHub</a><br/>
    <a href="http://highcharts.com">www.highcharts.com</a><br/>
    </div>
</div>
