<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="/integrations/tinymce.js" type="text/javascript" charset="utf-8" ></script>

<div style="padding:10px;" class="highed-box-size">
    <div style="font-size:26px; font-weight:100;">TinyMCE Integration Test</div>
    <br/><br/>
    <textarea id="chart-result" class="highed-box-size" style="font-family:monospace;width:100%;height:200px"></textarea>

</div>

<script>
    if (tinymce.majorVersion > 4) {
        tinymce.init({
            selector: "#chart-result",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste",
                "highcharts highchartssvg noneditable"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            menubar: "file edit insert view format table tools help highcharts",
            menu: {
                highcharts: { 
                    title: "Highcharts", 
                    items: "highcharts" 
                }
            }
        });
    } else {
        tinymce.init({
            selector: "#chart-result",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste",
                "highcharts noneditable"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    }
</script>